
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    overflow-x: hidden;  
    z-index: 1;
    transition: all 0.6s;
    transition-timing-function: ease-in;
}

.nav-black{
    background-color: rgba(0, 0, 0,0.95);
}

.nav-logo{
    position: fixed;
    width: 100px;
    left: 20px;
    object-fit: contain;
}
.nav-avatar{
    position: fixed;
    right: 20px;
    width: 40px;
    object-fit: contain;
    cursor: pointer;
}
.nav-avatar:active{
    transition: all 0.3s;
    scale: 0.90;
}